/* common styles for all tags */
html{
  background-color: #000000;
  color: rgba(255, 255, 255, 0.9);
  font-family: monospace;
  font-size: 18px ;
}
body{
  margin: 0px 0px;
}
.Container{
  margin: 5px;
  margin-top: 80px;
  margin-left: 15%;
  margin-right:15%;
  text-align: center;
}

/* Style for top navigation bar */
nav{
  background-color: #000000d8;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
}
.Brand{
  flex: 1;
  margin-left: 30px;
  font-size: 17px;
}
.NavigationItems{
  margin-right: 30px;
}
ul{
  list-style-type: none;
}
.NavigationItems li{
  display: inline-block;
  padding-left: 10px;
  padding-top: 11px;
  font-size: 17px;
  transition: ease 0.3s font-size,ease 0.3s padding-top;
}
.NavigationItems li:hover{
  font-size: 23px;
  padding-top:6px;
}
a:any-link{
  color: #b4b4b4;
  text-decoration: none;
  transition: ease 0.3s color;
}
a:any-link:hover{
  color:#ffffff;
}


/* Styles for Profile Section */
.Profile{
  padding:30px 0px;
  display: inline-block;
}
.ProfileImageContainer{
  width: 250px;
  height: 250px;
  border-radius: 130px;
  overflow: hidden;
  box-shadow: #303030 0px 5px 20px;
  display: inline-block;
}
.ProfileImageContainer img{
  width: 280px;
  height: 364px;
  margin-top:-25px;
}
.NameHeading{
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-shadow:#404040 0px 3px 10px;
}
.NameSubHeading{
  margin-top:-15px;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
}

/* styles for profile bio section */
.ProfileBioHello{
  font-size: 30px;
  font-weight: bold;
  width: fit-content;
  padding-left: 10px;
  margin:-12px 0px;
}
.ProfileBioContent{
  font-size: 19px;
  text-align: justify;
  padding-left: 10px;
  line-height: 1.7;
  font-weight: 100;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #d8d8d8;
}
.Bold{
  font-weight: bold;
  font-size: 20px;
  color: #e0e0e0;
}

/* styles for skills section */
.HeadingSeperator{
  width: 30%;
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}
.SkillsSection{
  margin: 50px 0px;
}
.SectionHeading{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 30px;
}
.SkillsContainer{
  display: flex;
  flex-direction: row;
  padding: 30px 0px;
}
.Skills1{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.Skills2{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.Javaprogressbar2{
  width: 40%;
  height: 15px;
  background-color: #ffffff;
  border-radius:20px;
  
}
.Javaprogressbar1{
  width: 40%;
  height: 15px;
  background-color: #ffffff23;
  border-radius:20px;
  display: inline-block;  
}
.Cprogressbar2{
  width: 70%;
  height: 15px;
  background-color: #ffffff;
  border-radius:20px;
  
}
.Cprogressbar1{
  width: 40%;
  height: 15px;
  background-color: #ffffff23;
  border-radius:20px;
  display: inline-block;  
}
.Cppprogressbar2{
  width: 70%;
  height: 15px;
  background-color: #ffffff;
  border-radius:20px;
  
}
.Cppprogressbar1{
  width: 40%;
  height: 15px;
  background-color: #ffffff23;
  border-radius:20px;
  display: inline-block;  
}
.Kotlinprogressbar2{
  width: 40%;
  height: 15px;
  background-color: #ffffff;
  border-radius:20px;
  
}
.Kotlinprogressbar1{
  width: 40%;
  height: 15px;
  background-color: #ffffff23;
  border-radius:20px;
  display: inline-block;  
}
.Androidprogressbar2{
  width: 20%;
  height: 15px;
  background-color: #ffffff;
  border-radius:20px;
  
}
.Androidprogressbar1{
  width: 40%;
  height: 15px;
  background-color: #ffffff23;
  border-radius:20px;
  display: inline-block;  
}

.Htmlprogressbar2{
  width: 90%;
  height: 15px;
  background-color: #ffffff;
  border-radius:20px;
  
}
.Htmlprogressbar1{
  width: 40%;
  height: 15px;
  background-color: #ffffff23;
  border-radius:20px;
  display: inline-block;  
}

.Cssprogressbar2{
  width: 75%;
  height: 15px;
  background-color: #ffffff;
  border-radius:20px;
  
}
.Cssprogressbar1{
  width: 40%;
  height: 15px;
  background-color: #ffffff23;
  border-radius:20px;
  display: inline-block;  
}

.Jsprogressbar2{
  width: 10%;
  height: 15px;
  background-color: #ffffff;
  border-radius:20px;
  
}
.Jsprogressbar1{
  width: 40%;
  height: 15px;
  background-color: #ffffff23;
  border-radius:20px;
  display: inline-block;  
}

/* styles for portfolio section */
.PortfolioItemsContainer{
  flex-direction: column;
  padding: 0px 0px;
  justify-content: center;
}
.PortfolioItem{
  width: 500px;
  height: 281.25px;
  display: inline-block;
  margin: 20px 10px;  
  transition:ease 0.3s filter;
}
.PortfolioItem img{
  width: 500px;
  height: 281.25px;
  border-radius: 10px;
}
.PortfolioItem:hover{
  filter: opacity(0.6);
}
#PortfolioItem3{
  width: 100%;
}
.PortfolioItemNoImage{
  width: 281px;
  height: 281px;
  padding: 0px 20px;
  background-color: white;
  color: #000000;
  border-radius: 10px;
  display: table-caption;
}
.PortfolioItemSpanContainer{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.PortfolioItemTextHeading{
  color: #000000;
  font-family: Calibri; 
  font-size: 23px; 
  font-style: normal; 
  font-variant: normal; 
}
.PortfolioItemTextSubHeading{
  color: #404040;
  font-family: Calibri; 
  font-size: 15px; 
  font-style: normal; 
  font-variant: normal; 
  padding-top: 10px;
}
#ExpandButton{
  font-size: 30px;
}
/* styles form contact us section */
.ContactUsContainer ul li{
  display: inline-block;
  margin-bottom: 10px;
}
.SocialIcon{
  width: 40px;
  height: 40px;
  transition:ease 0.3s width,ease 0.3s height;
}
.SocialIcon:hover{
  width: 55px;
  height: 55px;
}
.SocialIconContainer{
  padding-left: 0px;
}
.SocialIconContainer li{
  transition:ease 0.3s margin-top;
}
.SocialIconContainer li:hover{
  margin-top: -20px;
}

/* media query */
@media(min-width:320px) and (max-width:992px) and (orientation:portrait){
  .Container{
    margin-top:200px;
    margin-left: 6%;
    margin-right: 6%;
  }
  /* nav bar styles */
  nav{
    flex-direction: column;
  }
  .NavigationItems{
    margin-right: 0px;
  }
  .Brand{
    margin-left:0px;
  }
  .Brand h2{
    font-size: 60px;
    text-align: center;
    margin:0px;
    margin-top: 20px;
  }
  ul{
    text-align: center;
    padding-left: 0px;
  }
  .NavigationItems li{
    font-size: 40px;
  }
  .NavigationItems li:hover{
    font-size: 50px;
  }
  /* profile styles */
  .ProfileImageContainer{
    width: 550px;
    height: 550px;
    border-radius:100%;
  }
  .ProfileImageContainer img{
    width: 620px;
    height: 800px;
    margin-top: -50px;
  }
  .PortfolioItemTextHeading{
    font-size: 35px; 
  }
  .PortfolioItemTextSubHeading{
    font-size: 25px; 
  }
  #ExpandButton{
    font-size: 50px;
    font-weight: 800;
  }
  a:any-link{
    color: #e0e0e0;
  }
  
/* Styles for Profile Section */

.NameHeading{
  font-size: 60px;
}
.NameSubHeading{
  font-size: 45px;
}

/* styles for profile bio section */
.ProfileBioHello{
  font-size: 30px;
}
.ProfileBioContent{
  font-size: 20px;
  text-align: justify;
  line-height: 1.7;
}
.Bold{
  font-weight: bold;
  font-size: 22px;
  color: #e0e0e0;
}
/* styles for skills section */
.SectionHeading{
  font-size: 50px;
}
.Javaprogressbar1{
  width: 60%;
  height: 30px;
}
.Javaprogressbar2{
  width: 40%;
  height: 30px;
}
.Cprogressbar2{
  width: 80%;
  height: 30px;
  
}
.Cprogressbar1{
  width: 60%;
  height: 30px; 
}
.Cppprogressbar2{
  width: 80%;
  height: 30px;
  
}
.Cppprogressbar1{
  width: 60%;
  height: 30px; 
}
.Kotlinprogressbar2{
  width: 50%;
  height: 30px;
}
.Kotlinprogressbar1{
  width: 60%;
  height: 30px; 
}
.Androidprogressbar2{
  width: 20%;
  height: 30px;
}
.Androidprogressbar1{
  width: 60%;
  height: 30px;
}
.Htmlprogressbar2{
  width: 90%;
  height: 30px;
}
.Htmlprogressbar1{
  width: 60%;
  height: 30px;
}

.Cssprogressbar2{
  width: 75%;
  height: 30px;
}
.Cssprogressbar1{
  width: 60%;
  height: 30px; 
}
.Jsprogressbar2{
  width: 20%;
  height: 30px;
}
.Jsprogressbar1{
  width: 60%;
  height: 30px;  
}
.SkillName{
  font-size: 45px;
}

/* styles for portfolio section */
.PortfolioItemsContainer{
  display: inline-block;
  flex-direction: column;
  padding: 30px 0px;
}
.PortfolioItem{
  width: 700px;
  height: 393px;
  padding: 10px 0px;  
}
.PortfolioItem img{
  width: 700px;
  height: 393px;
}
/* styles for contact is section */
.SocialIcon{
  width: 90px;
  height: 90px;
  padding-left: 20px;
  transition:ease 0.3s width,ease 0.3s height;
}
.SocialIcon:hover{
  width: 105px;
  height: 105px;
}

}