* {
    margin: 0 0;
    padding: 0 0;
    font-family: 'Jost', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 255, 0.1); /* transparent with keyword */
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 2em;
}

.nav-container {
    z-index: 1;
    background: linear-gradient(180deg, white, transparent);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease;
}

.brand {
    flex: 1;
    padding: 1em;
}

.nav-elements {
    padding: 2em;
    flex: 1;
    text-align: end;
    word-spacing: 3em;
}

.nav-elements li {
    display: inline-block;
    /*makes li horizontal*/
}

.menu-button {
    display: none;
}

:any-link {
    color: black;
    text-decoration: none;
    transition: 0.3s ease color;
}

:any-link:focus, button:focus {
    outline: 0;
}

:any-link:hover, :any-link:active {
    color: rgb(110, 118, 185);
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 10vw;
    margin-top: 20vh;
    margin-bottom: 0;
    background-color: #b865358c;
    border-radius: 0.5em;
    padding: 2em;
    padding-bottom: 0;
}

.profile-content-container {
    display: flex;
    flex-direction: column;
    flex: 0.9;
    padding: 1em;
    padding-bottom: 3em;
}

.name {
    padding: 1em 0;
}

.resume-download {
    height: 100%;
    display: flex;
    margin-top: 2em;
    text-align: center;
}

.resume-download a {
    margin: auto;
}

.resume-download-button {
    background-color: transparent;
    border-radius: 5px;
    padding: 1.5em;
    color: black;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    transform: scale(1.1);
    transition: 0.5s ease border-radius, 0.5s ease background-color, 0.5s ease transform;
}

.resume-download-button:hover {
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 20px;
    transform: scale(1);
}

.profile-image-container {
    display: flex;
    flex: 0.1;
    justify-content: center;
    align-items: flex-end;
    margin: 1em 1em 0 1em;
}

.profile-image-container img {
    max-height: 360px;
    max-width: 240px;
    box-shadow: #686868 0px 20px 10px;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.section-heading {
    text-align: center;
    margin: 2em;
    margin-bottom: 1em;
}

.PortfolioItemsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.PortfolioItem {
    min-width: 400px;
    height: 281.25px;
    /* display: inline-block; */
    margin: 20px 10px;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.3s ease filter, 0.3s ease transform, 0.3s ease box-shadow;
}

.PortfolioItem:hover {
    /* filter: brightness(0.9); */
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2)
}

.PortfolioItemSpanContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.PortfolioItemTextHeading {
    color: #202020;
    font-weight: bold;
    font-size: 23px;
}

.PortfolioItemTextSubHeading {
    color: #404040;
    font-family: Calibri;
    font-size: 15px;
    padding-top: 10px;
}

#PortfolioItem1 {
    background-color: rgb(147, 184, 252);
}

#PortfolioItem2 {
    background-color: #F5F5A8;
}

#PortfolioItem3 {
    background-color: rgb(130, 248, 167);
}

#PortfolioItem4 {
    background-color: rgb(253, 124, 117);
}

/*Hack to fix layout on firefox*/

@-moz-document url-prefix() {
    .MorePortfolioItems {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Styles for contact us section */

.ContactUsContainer ul li {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
}

.SocialIcon {
    width: 40px;
    height: 40px;
    transition: ease 0.3s width, ease 0.3s height;
}

.SocialIcon:hover {
    width: 55px;
    height: 55px;
}

.SocialIconContainer {
    padding-left: 0px;
    text-align: center;
    margin-bottom: 1em;
}

.SocialIconContainer li {
    transition: ease 0.3s margin-top;
}

.SocialIconContainer li:hover {
    margin-top: -20px;
}

/* Small devices (mobiles, 320px and up) */

@media (max-width: 700px) {
    .container {
        margin: 0 1em;
        margin-bottom: 5vh;
    }
    .nav-container {
        flex-direction: column;
        overflow: hidden;
    }
    .nav-header-container {
        display: flex;
        flex-direction: row;
        padding: 1em;
        align-items: center;
        /*vertically center the header contents*/
    }
    .brand {
        padding: 0;
        /*override desktop padding values*/
        padding-left: 0.5em;
        flex: 1;
    }
    .menu-button {
        display: inline-block;
        transform: scale(0.45);
        background-color: transparent;
        border: transparent;
        outline: 0;
        /* remove ugly border when button is in focus*/
    }
    .nav-elements {
        background-color: #f5f5f5;
        margin: 0 1em;
        padding: 0 2em;
        text-align: left;
        line-height: 3;
        border-radius: 10px;
        transition: 0.5s ease height;
    }
    .nav-elements li {
        display: block;
        /* override desktop layout to make li vertical*/
    }
    .profile-container {
        flex-direction: column;
        margin: auto;
        width: auto;
        margin-top: 0;
    }
    .profile-content-container {
        padding: 0;
        padding-bottom: 1.5em;
    }
    .profile-content-container .name, .profile-content-container .about {
        font-size: 0.9em;
    }
    .profile-image-container img {
        max-width: 100%;
    }
    .PortfolioItemsContainer {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x proximity;
        justify-content: flex-start;
    }
    .PortfolioItem {
        scroll-snap-align: center;
        min-width: 90%;
        height: 220px;
        margin: 20px 10px;
    }
}

/* Medium and Large devices (tablets and desktops: 701px and up) */

@media (min-width: 701px) {
    .nav-container {
        width: 100vw;
    }
    .nav-content {
        display: flex;
        flex-direction: row;
        width: 100vw;
    }
}